* {
    box-sizing: border-box;
}

body {
    background-color: rgba(57, 112, 194, 0.719);
    font-family: 'Gamja Flower', cursive;
}

#container {
    width: 90%;
    background-color:  rgb(236, 236, 236);
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Baloo Tammudu', cursive;
margin: 0;
}

h1 {
    float: left;
    padding-left: 1em;
    padding-top: 1em;
}

#search {
    float: left;
    padding: 1.25em;
}

#search input {
    padding: 0.5em;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


#navigation{
    background-color: rgb(19, 76, 150);
}

#navigation ul {
    list-style: none;
    padding: 0;
}

#navigation li {
    float: left;
    padding: 10px 20px;
    border-right: 2px solid rgb(0, 0, 0);

}
    #navigation li:hover {
        background-color: rgb(255, 255, 255);
        cursor: pointer;
    }

#promotions {
    background-color: rgb(0, 102, 255);
}

#promotions span {
    float: left; 
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
}

#promotions .arrow {
    width: 5%;
    background-color: rgb(255, 255, 255);
    font-size: 2em;
    padding: 0
}

.promo {
    width: 90%;
}

main {
    width: 100%;
    min-height: 350px;
}

    main > aside {
    float: left;
    width: 20%;
    background-color: rgba(0, 89, 255, 0.836);
    padding: 20px;
}
    main > section {
        float: left;
        width:80%;
        padding: 20px;
        background-color: blue;
        color: white;
    }
    aside selcet {
        width: 100%;
    }

    aside hr {
     border: none;
    border-bottom: 1px solid black;
    padding-bottom: 5 px;
 }
    #product-listings {
        list-style: none;
        margin: 0;
        padding:0;

    }
 .product {
     width: 30%;
     background-color: white;
     color: rgb(4, 91, 117);
     float: left;
     margin: 0 20px 20px 0;
     }

     .product img {
        width:90%;
        margin: 10px auto;
        display: block;
     }

    

     .product h4, .product p, .product a {
         margin:0;
         text-align: center;
         display: block;
     }
     footer {
         background-color: white;
         text-align: center;
     }
     footer p {
         padding: 10px;
         margin: 0;
     }