* {
    box-sizing: boarder-box;
}

body {
    background-color: rgba(57, 112, 194, 0.719);
    font-family: 'Gamja Flower', cursive;
}

#container {
    width: 90%;
    background-color:  rgb(236, 236, 236);
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Baloo Tammudu', cursive;
}

h1 {
    float: left;

padding-left: 1em;}

#search {
    float: left;
    padding: 1.25em;
}

#search input {
    padding: 0.5em;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


#navigation{
    background-color: rgb(19, 76, 150);
}

#navigation ul {
    list-style: none;
    padding: 0;
}

#navigation li {
    float: left;
    padding: 10px 20px;
    border-right: 2px solid rgb(0, 0, 0);

}
    #navigation li:hover {
        background-color: rgb(255, 255, 255);
        cursor: pointer;
    }